In [14]:
! pip install ydata-profiling dtale

Requirement already satisfied: ydata-profiling in c:\users\acer\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: dtale in c:\users\acer\anaconda3\lib\site-packages (3.16.1)
Requirement already satisfied: scipy<1.16,>=1.4.1 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (1.13.1)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (2.2.2)
Requirement already satisfied: matplotlib>=3.5 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (3.9.2)
Requirement already satisfied: pydantic>=2 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (2.8.2)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (3.1.4)
Requirement already satisfied: visions<0.8.0,>=0.7.5 in c:\users\acer\anaconda3\lib\site-packages (from visions[type_image_path]<0.8.0,>=0.7.5->ydata-profiling) (0.7.6)
Requirement already satisfied: numpy<2.2,>=1.16.0 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (1.26.4)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (2.32.3)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (4.66.5)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (0.14.2)
Requirement already satisfied: typeguard<5,>=3 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (4.4.1)
Requirement already satisfied: imagehash==4.3.1 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (1.9.4)
Requirement already satisfied: dacite>=1.8 in c:\users\acer\anaconda3\lib\site-packages (from ydata-profiling) (1.9.1)
Requirement already satisfied: PyWavelets in c:\users\acer\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.7.0)
Requirement already satisfied: pillow in c:\users\acer\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (10.4.0)
Requirement already satisfied: dash-colorscales in c:\users\acer\anaconda3\lib\site-packages (from dtale) (0.0.4)
Requirement already satisfied: dash-daq in c:\users\acer\anaconda3\lib\site-packages (from dtale) (0.5.0)
Requirement already satisfied: future>=0.14.0 in c:\users\acer\anaconda3\lib\site-packages (from dtale) (1.0.0)
Requirement already satisfied: missingno in c:\users\acer\anaconda3\lib\site-packages (from dtale) (0.5.2)
Requirement already satisfied: squarify in c:\users\acer\anaconda3\lib\site-packages (from dtale) (0.4.4)
Requirement already satisfied: strsimpy in c:\users\acer\anaconda3\lib\site-packages (from dtale) (0.2.1)
Requirement already satisfied: six in c:\users\acer\anaconda3\lib\site-packages (from dtale) (1.16.0)
Requirement already satisfied: xlrd in c:\users\acer\anaconda3\lib\site-packages (from dtale) (2.0.1)
Requirement already satisfied: beautifulsoup4!=4.13.0b2 in c:\users\acer\anaconda3\lib\site-packages (from dtale) (4.12.3)
Requirement already satisfied: certifi in c:\users\acer\anaconda3\lib\site-packages (from dtale) (2024.8.30)
Requirement already satisfied: dash-bootstrap-components in c:\users\acer\anaconda3\lib\site-packages (from dtale) (1.7.1)
Requirement already satisfied: lz4 in c:\users\acer\anaconda3\lib\site-packages (from dtale) (4.3.2)
Requirement already satisfied: cycler in c:\users\acer\anaconda3\lib\site-packages (from dtale) (0.11.0)
Requirement already satisfied: dash in c:\users\acer\anaconda3\lib\site-packages (from dtale) (2.18.2)
Requirement already satisfied: werkzeug in c:\users\acer\anaconda3\lib\site-packages (from dtale) (3.0.3)
Requirement already satisfied: Flask-Compress in c:\users\acer\anaconda3\lib\site-packages (from dtale) (1.17)
Requirement already satisfied: scikit-learn in c:\users\acer\anaconda3\lib\site-packages (from dtale) (1.5.1)
Requirement already satisfied: networkx in c:\users\acer\anaconda3\lib\site-packages (from dtale) (3.3)
Requirement already satisfied: openpyxl!=3.2.0b1 in c:\users\acer\anaconda3\lib\site-packages (from dtale) (3.1.5)
Requirement already satisfied: xarray in c:\users\acer\anaconda3\lib\site-packages (from dtale) (2023.6.0)
Requirement already satisfied: et-xmlfile in c:\users\acer\anaconda3\lib\site-packages (from dtale) (1.1.0)
Requirement already satisfied: plotly in c:\users\acer\anaconda3\lib\site-packages (from dtale) (5.24.1)
Requirement already satisfied: Flask in c:\users\acer\anaconda3\lib\site-packages (from dtale) (3.0.3)
Requirement already satisfied: itsdangerous in c:\users\acer\anaconda3\lib\site-packages (from dtale) (2.2.0)
Requirement already satisfied: kaleido in c:\users\acer\anaconda3\lib\site-packages (from dtale) (0.2.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\acer\anaconda3\lib\site-packages (from beautifulsoup4!=4.13.0b2->dtale) (2.5)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\acer\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.5->ydata-profiling) (1.2.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.5->ydata-profiling) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.5->ydata-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.5->ydata-profiling) (24.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.5->ydata-profiling) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.5->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\acer\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.4.2)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\acer\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (0.6.0)
Requirement already satisfied: pydantic-core==2.20.1 in c:\users\acer\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (2.20.1)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\acer\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (4.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\acer\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\acer\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\acer\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.2.3)
Requirement already satisfied: patsy>=0.5.6 in c:\users\acer\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.6)
Requirement already satisfied: colorama in c:\users\acer\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\acer\anaconda3\lib\site-packages (from visions<0.8.0,>=0.7.5->visions[type_image_path]<0.8.0,>=0.7.5->ydata-profiling) (23.1.0)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\acer\anaconda3\lib\site-packages (from dash->dtale) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\acer\anaconda3\lib\site-packages (from dash->dtale) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\acer\anaconda3\lib\site-packages (from dash->dtale) (5.0.0)
Requirement already satisfied: importlib-metadata in c:\users\acer\anaconda3\lib\site-packages (from dash->dtale) (7.0.1)
Requirement already satisfied: retrying in c:\users\acer\anaconda3\lib\site-packages (from dash->dtale) (1.3.4)
Requirement already satisfied: nest-asyncio in c:\users\acer\anaconda3\lib\site-packages (from dash->dtale) (1.6.0)
Requirement already satisfied: setuptools in c:\users\acer\anaconda3\lib\site-packages (from dash->dtale) (75.1.0)
Requirement already satisfied: click>=8.1.3 in c:\users\acer\anaconda3\lib\site-packages (from Flask->dtale) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\users\acer\anaconda3\lib\site-packages (from Flask->dtale) (1.6.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\acer\anaconda3\lib\site-packages (from plotly->dtale) (8.2.3)
Requirement already satisfied: brotli in c:\users\acer\anaconda3\lib\site-packages (from Flask-Compress->dtale) (1.0.9)
Requirement already satisfied: zstandard in c:\users\acer\anaconda3\lib\site-packages (from Flask-Compress->dtale) (0.23.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\acer\anaconda3\lib\site-packages (from scikit-learn->dtale) (3.5.0)
Requirement already satisfied: zipp>=0.5 in c:\users\acer\anaconda3\lib\site-packages (from importlib-metadata->dash->dtale) (3.17.0)

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df = pd.read_csv("../data/house_price_regression_dataset.csv")
df.sample(5)

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
395,3046,5,2,1956,3.661198,0,5,676719.122059
832,3353,4,2,1976,1.957188,0,2,701368.114317
723,3095,4,2,1966,2.909156,0,4,670894.058125
525,4084,3,3,1958,3.116377,2,8,858011.513543
296,4615,4,2,2000,1.721147,1,4,993273.079661

In [17]:
df.describe()

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03
mean,2815.422000,2.990000,1.973000,1986.550000,2.778087,1.022000,5.615000,6.188610e+05
std,1255.514921,1.427564,0.820332,20.632916,1.297903,0.814973,2.887059,2.535681e+05
min,503.000000,1.000000,1.000000,1950.000000,0.506058,0.000000,1.000000,1.116269e+05
25%,1749.500000,2.000000,1.000000,1969.000000,1.665946,0.000000,3.000000,4.016482e+05
50%,2862.500000,3.000000,2.000000,1986.000000,2.809740,1.000000,6.000000,6.282673e+05
75%,3849.500000,4.000000,3.000000,2004.250000,3.923317,2.000000,8.000000,8.271413e+05
max,4999.000000,5.000000,3.000000,2022.000000,4.989303,2.000000,10.000000,1.108237e+06

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Square_Footage        1000 non-null   int64
 1   Num_Bedrooms          1000 non-null   int64
 2   Num_Bathrooms         1000 non-null   int64
 3   Year_Built            1000 non-null   int64
 4   Lot_Size              1000 non-null   float64
 5   Garage_Size           1000 non-null   int64
 6   Neighborhood_Quality  1000 non-null   int64
 7   House_Price           1000 non-null   float64
dtypes: float64(2), int64(6)
memory usage: 62.6 KB
None

In [20]:
print(df.describe())

       Square_Footage  Num_Bedrooms  Num_Bathrooms   Year_Built     Lot_Size  \
count     1000.000000   1000.000000    1000.000000  1000.000000  1000.000000
mean      2815.422000      2.990000       1.973000  1986.550000     2.778087
std       1255.514921      1.427564       0.820332    20.632916     1.297903
min        503.000000      1.000000       1.000000  1950.000000     0.506058
25%       1749.500000      2.000000       1.000000  1969.000000     1.665946
50%       2862.500000      3.000000       2.000000  1986.000000     2.809740
75%       3849.500000      4.000000       3.000000  2004.250000     3.923317
max       4999.000000      5.000000       3.000000  2022.000000     4.989303

       Garage_Size  Neighborhood_Quality   House_Price
count  1000.000000           1000.000000  1.000000e+03
mean      1.022000              5.615000  6.188610e+05
std       0.814973              2.887059  2.535681e+05
min       0.000000              1.000000  1.116269e+05
25%       0.000000              3.000000  4.016482e+05
50%       1.000000              6.000000  6.282673e+05
75%       2.000000              8.000000  8.271413e+05
max       2.000000             10.000000  1.108237e+06